.body-content {
  margin-top: 150px;
}

.input-type {
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;
  color: white;

  &.None {
    display: none;
  }

  &.grey {
    background: $grey;
    border-color: $grey/1.3;
  }

  &.blue {
    background: $blue;
    border-color: $blue/1.3;
  }

  &.green {
    background: $green;
    border-color: $green/1.3;
  }

  &.yellow {
    background: $yellow;
    border-color: $yellow/1.3;
  }

  &.orange {
    background: $orange;
    border-color: $orange/1.3;
  }

  &.red {
    background: $red;
    border-color: $red/1.3;
  }

  &.pink {
    background: $pink;
    border-color: $pink/1.3;
  }

  &.purple {
    background: $purple;
    border-color: $purple/1.3;
  }
}
